# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# coverage
coverage/

# prisma
apps/api/prisma/migrations/dev.db*
